@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.header-h1 {
  color: #FFF;
  font-size: 4rem;
}

.header-h5 {
  color: #FFF;
  font-size: 1.5rem;
}
